[submodule "file-util"]
	path = file-util
	url = https://github.com/minecraft-linux/file-util.git
[submodule "axml-parser"]
	path = axml-parser
	url = https://github.com/MCMrARM/axml-parser.git
[submodule "mcpelauncher-apkinfo"]
	path = mcpelauncher-apkinfo
	url = https://github.com/minecraft-linux/mcpelauncher-apkinfo.git
[submodule "mcpelauncher-extract"]
	path = mcpelauncher-extract
	url = https://github.com/minecraft-linux/mcpelauncher-extract.git
[submodule "google-play-api"]
	path = google-play-api
	url = https://github.com/minecraft-linux/Google-Play-API.git
[submodule "playdl-signin-ui-qt"]
	path = playdl-signin-ui-qt
	url = https://github.com/minecraft-linux/pplaydl-signin-ui-qt.git
[submodule "mcpelauncher-ui-qt"]
	path = mcpelauncher-ui-qt
	url = https://github.com/minecraft-linux/mcpelauncher-ui-qt.git
[submodule "mcpelauncher-common"]
	path = mcpelauncher-common
	url = https://github.com/minecraft-linux/pmcpelauncher-common.git
